$font-family-main: Inter, system-ui, sans-serif !default;
$font-family-display: Poppins, Inter, system-ui, sans-serif !default;

$gk-bg-light: #edf4f5;
$gk-surface-light: #f7fbfc;
$gk-fg-light: #101010;
$gk-primary-light: #00b5eb;
$gk-secondary-light: #174c76;
$gk-accent-light: #e03466;
$gk-success-light: #33b73b;
$gk-danger-light: #ff4136;

$gk-bg-dark: #0f1a24;
$gk-surface-dark: #1f2933;
$gk-fg-dark: #e0e0e0;
$gk-primary-dark: #3386a6;
$gk-secondary-dark: #1d4165;
$gk-accent-dark: #e04c68;
$gk-success-dark: #70a957;

/* Override Bootstrap color definitions */
$black: $gk-bg-dark;
$white: $gk-bg-light;

/* Override Bootstrap theme colors */

$primary: $gk-primary-light;
$secondary: $gk-secondary-light;
$accent: $gk-accent-light;
$info: $gk-primary-light;
$success: $gk-success-light;
$danger: $gk-danger-light;
$dark: $gk-surface-dark;
$light: $gk-surface-light;

// Bootstrap overrides and generic aliases
$spacer: 2rem;
$border-width: 2px;

$body-bg: $gk-bg-light;
$body-bg-dark: $gk-bg-dark;
$body-secondary-bg: $gk-surface-light;
$body-secondary-bg-dark: $gk-surface-dark;
$body-tertiary-bg: $gk-surface-light;
$body-tertiary-bg-dark: $gk-surface-dark;
$body-color: $gk-fg-light;
$body-color-dark: $gk-fg-dark;

$min-contrast-ratio: 2;

$font-family-base: $font-family-main;
$font-weight-bolder: 600;

$headings-font-family: $font-family-display;
$headings-font-weight: 700;
$headings-color: $gk-secondary-light;
$headings-color-dark: $gk-primary-dark;

$navbar-dark-color: rgba($gk-fg-dark, 0.85);
$navbar-dark-hover-color: $gk-fg-dark;
$navbar-dark-active-color: $gk-fg-dark;

$btn-font-weight: 700;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;
$btn-padding-x-sm: 1.5rem;
$btn-padding-y-sm: 0.375rem;

$alert-padding-x: 1rem;
$alert-padding-y: 1rem;

$modal-inner-padding: 1rem;
$modal-content-bg: var(--bs-secondary-bg);
