:root {
  --prose-primary: #{$gk-primary-light};
  --prose-bg: #{$gk-bg-light};
}

@include color-mode(dark) {
  --prose-primary: #{$gk-primary-dark};
  --prose-bg: #{$gk-bg-dark};
}

.prose-content {
  h2 {
    margin-top: 3rem;
  }

  h3 {
    margin-top: 2rem;
  }

  p {
    line-height: 1.7rem;
  }

  blockquote {
    border-left: 0.4rem solid var(--prose-primary);
    padding-left: 1rem;
    margin: 2rem 0;
  }

  pre {
    background: var(--prose-bg);
    padding: 1.4rem;
    @include card-shadow;
  }

  code {
    background: var(--prose-bg);
    color: var(--prose-primary);
  }
}
